
.navigationLowerBar{
    display: flex;
    height: 45px;
    padding: var(--space-xs);
    gap: var(--space-s);
    margin: 0 auto;
    
}

.navigationLowerBar button{
    display: grid;
    place-content: center;
    max-height: 100%;
    width: 45px;
    padding: var(--space-l);
    font-size: var(--font-size-h5);
    border-radius: var(--border-radius-small);
    border: 0;
    outline: 2px solid var(--accent-color);
    color: var(--accent-color);
    background-color: transparent;
    /* transition: all .1s ease-in-out; */
}

.navigationLowerBar button:hover{
    opacity: .8;
}

.navigationLowerBar .navigationArrowLeft, .navigationLowerBar .navigationArrowRight{
    background-color: var(--accent-color) ;
    color: var(--bg-primary);
    width: 80px;
}